h1{
    font-size: 32px;
    font-weight: bold;
    background-color: yellow;
    display:inline;
}
p{
    font-weight:bold;
}
#div1{
    margin-left: 200px;
    margin-right: 200px;
    
}
h1,#div1{
    text-align: center;
    
}
#retext{
    color: red;
}
.buttons{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
.buttons:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 4px;
    
}
#inpval{
    border: 2px solid black;
    color: black;
    font-weight: bold;
}
::placeholder{
    color: black;
}
footer{
    text-align: center;
    margin-top: 500px;
    font-weight: bolder;
}
.end{
    color: green;
    font-size: 32px;
    font-weight: bold;
}